{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block body %}
{#                <main class="app-layout-content">#}

                <!-- Page Content -->
                <div class="container-fluid p-y-md">
                    <!-- Stats -->
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <a class="card" href="javascript:void(0)">
                                <div class="card-block clearfix">
                                    <div class="pull-right">
                                        <p class="h6 text-muted m-t-0 m-b-xs">Total User</p>
                                        <p class="h3 text-blue m-t-sm m-b-0">Total : {{ users }}</p>
                                    </div>
                                    <div class="pull-left m-r">
                                        <span class="img-avatar img-avatar-48 bg-blue bg-inverse"><i
                                                class="ion-ios-people fa-1-5x"></i></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .col-sm-6 -->


                        <div class="col-sm-6 col-lg-3">
                            <a class="card bg-green bg-inverse" href="javascript:void(0)">
                                <div class="card-block clearfix">
                                    <div class="pull-right">
                                        <p class="h6 text-muted m-t-0 m-b-xs">Total Book</p>
                                        <p class="h3 m-t-sm m-b-0">{{ total_book }}</p>
                                    </div>
                                    <div class="pull-left m-r">
                                        <span class="img-avatar img-avatar-48 bg-gray-light-o"><i
                                                class="ion-ios-book fa-1-5x"></i></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .col-sm-6 -->

                        <div class="col-sm-6 col-lg-3">
                            <a class="card bg-blue bg-inverse" href="javascript:void(0)">
                                <div class="card-block clearfix">
                                    <div class="pull-right">
                                        <p class="h6 text-muted m-t-0 m-b-xs">Total Book Request</p>
                                        <p class="h3 m-t-sm m-b-0">Total : {{ book_request }}</p>
                                    </div>
                                    <div class="pull-left m-r">
                                        <span class="img-avatar img-avatar-48 bg-gray-light-o"><i
                                                class="ion-ios-book-outline fa-1-5x"></i></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .col-sm-6 -->

                        <div class="col-sm-6 col-lg-3">
                            <a class="card bg-purple bg-inverse" href="javascript:void(0)">
                                <div class="card-block clearfix">
                                    <div class="pull-right">
                                        <p class="h6 text-muted m-t-0 m-b-xs">Book Lend</p>
                                        <p class="h3 m-t-sm m-b-0">{{ book_lend }}</p>
                                    </div>
                                    <div class="pull-left m-r">
                                        <span class="img-avatar img-avatar-48 bg-gray-light-o"><i
                                                class="ion-ios-copy fa-1-5x"></i></span>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-6 col-lg-3">
                            <a class="card bg-purple bg-inverse" href="javascript:void(0)">
                                <div class="card-block clearfix">
                                    <div class="pull-right">
                                        <p class="h6 text-muted m-t-0 m-b-xs">Book Copies</p>
                                        <p class="h3 m-t-sm m-b-0">{{ book_copies }}</p>
                                    </div>
                                    <div class="pull-left m-r">
                                        <span class="img-avatar img-avatar-48 bg-red-light-o"><i
                                                class="ion-ios-list fa-1-5x"></i></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6 col-lg-3">
                            <a class="card bg-purple bg-inverse" href="javascript:void(0)">
                                <div class="card-block clearfix">
                                    <div class="pull-right">
                                        <p class="h6 text-muted m-t-0 m-b-xs">Book Return</p>
                                        <p class="h3 m-t-sm m-b-0">{{ book_return }}</p>
                                    </div>
                                    <div class="pull-left m-r">
                                        <span class="img-avatar img-avatar-48 bg-red-light-o"><i
                                                class="ion-ios-list fa-1-5x"></i></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- .col-sm-6 -->
                    </div>
                    <!-- .row -->
                    <!-- End stats -->

                </div>
                <!-- .container-fluid -->
                <!-- End Page Content -->

            </main>

{#    <div class="d-sm-flex align-items-center justify-content-between mb-4">#}
{#        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>#}
{#    </div>#}
{##}
{#    <div class="row mb-3">#}
{#        <!-- Earnings (Monthly) Card Example -->#}
{#        <div class="col-xl-4 col-md-6 mb-4">#}
{#            <div class="card h-100">#}
{#                <div class="card-body">#}
{#                    <div class="row align-items-center">#}
{#                        <div class="col mr-2">#}
{#                            <div class="text-xs font-weight-bold text-uppercase mb-1">Total Users : {{ users }}#}
{#                            </div>#}
{#                            <div class="h5 mb-0 font-weight-bold text-gray-800"></div>#}
{#                        </div>#}
{#                        <div class="col-auto">#}
{#                            <i class="fas fa-user fa-2x text-info"></i>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                </div>#}
{##}
{#            </div>#}
{##}
{#        </div>#}
{#        <div class="col-xl-4 col-md-6 mb-4">#}
{#            <div class="card h-100">#}
{#                <div class="card-body">#}
{#                    <div class="row align-items-center">#}
{#                        <div class="col mr-2">#}
{#                            <div class="text-xs font-weight-bold text-uppercase mb-1">Total Book : {{ total_book }}#}
{#                            </div>#}
{#                            <div class="h5 mb-0 font-weight-bold text-gray-800"></div>#}
{#                        </div>#}
{#                        <div class="col-auto">#}
{#                            <i class="fas fa-user fa-2x text-info"></i>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                </div>#}
{##}
{#            </div>#}
{##}
{#        </div>#}
{#        <div class="col-xl-4 col-md-6 mb-4">#}
{#            <div class="card h-100">#}
{#                <div class="card-body">#}
{#                    <div class="row align-items-center">#}
{#                        <div class="col mr-2">#}
{#                            <div class="text-xs font-weight-bold text-uppercase mb-1">Total Book Request : {{ book_request }}#}
{#                            </div>#}
{#                            <div class="h5 mb-0 font-weight-bold text-gray-800"></div>#}
{#                        </div>#}
{#                        <div class="col-auto">#}
{#                            <i class="fas fa-user fa-2x text-info"></i>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                </div>#}
{##}
{#            </div>#}
{##}
{#        </div>#}
{#<div class="col-xl-4 col-md-6 mb-4">#}
{#            <div class="card h-100">#}
{#                <div class="card-body">#}
{#                    <div class="row align-items-center">#}
{#                        <div class="col mr-2">#}
{#                            <div class="text-xs font-weight-bold text-uppercase mb-1">Total Book Lend : {{ book_lend }}#}
{#                            </div>#}
{#                            <div class="h5 mb-0 font-weight-bold text-gray-800"></div>#}
{#                        </div>#}
{#                        <div class="col-auto">#}
{#                            <i class="fas fa-user fa-2x text-info"></i>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                </div>#}
{##}
{#            </div>#}
{##}
{#        </div>#}
{##}
{#    <div class="col-xl-4 col-md-6 mb-4">#}
{#            <div class="card h-100">#}
{#                <div class="card-body">#}
{#                    <div class="row align-items-center">#}
{#                        <div class="col mr-2">#}
{#                            <div class="text-xs font-weight-bold text-uppercase mb-1">Total Book Copies : {{ book_copies }}#}
{#                            </div>#}
{#                            <div class="h5 mb-0 font-weight-bold text-gray-800"></div>#}
{#                        </div>#}
{#                        <div class="col-auto">#}
{#                            <i class="fas fa-user fa-2x text-info"></i>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                </div>#}
{##}
{#            </div>#}
{##}
{#        </div>#}
{#    <div class="col-xl-4 col-md-6 mb-4">#}
{#            <div class="card h-100">#}
{#                <div class="card-body">#}
{#                    <div class="row align-items-center">#}
{#                        <div class="col mr-2">#}
{#                            <div class="text-xs font-weight-bold text-uppercase mb-1">Total Book Return : {{ book_return }}#}
{#                            </div>#}
{#                            <div class="h5 mb-0 font-weight-bold text-gray-800"></div>#}
{#                        </div>#}
{#                        <div class="col-auto">#}
{#                            <i class="fas fa-user fa-2x text-info"></i>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                </div>#}
{##}
{#            </div>#}
{##}
{#        </div>#}
{#    </div>#}
{% endblock %}