{% extends 'base.html' %}
{% load static %}
{% block title %}Book{% endblock %}
{% block body %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">My Books History</h1>

    </div>
    <div class="row">

        <!-- DataTable with Hover -->
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                </div>
                <div class="table-responsive p-3">
                    <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                        <thead class="thead-light">
                        <tr>
                            <th>SN</th>
                            <th>Book</th>
                            <th>User Taken By</th>
                            <th>Author</th>
                            <th>Fine</th>
                            <th>Date Of Issue</th>
                            <th>Date Of return</th>
                            <th>Is return</th>

                        </tr>
                        </thead>

                        <tbody>
                        {% for book in books %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ book.book.book.title }}</td>
                                <td>{{ book.user.email }}</td>
                                <td>{{ book.book.book.author }}</td>
                                <td>{{ book.fine }}</td>
                                <td>{{ book.date_of_issue }}</td>
                                <td>{{ book.date_of_return }}</td>
                                <td>{{ book.is_return }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}