{% extends 'base.html' %}
{% load static %}
{% block title %}Book{% endblock %}
{% block body %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Books<a class="btn btn-primary" style="float: right"
                                             href="{% url 'admin_dash:book_copies_create' book_id %}">Add Book</a></h1>
    </div>
    <div class="row">

        <!-- DataTable with Hover -->
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                </div>
                <div class="table-responsive p-3">
                    <table class="table table-bordered table-striped table-vcenter js-dataTable-full">
                        <thead class="thead-light">
                        <tr>
                            <th>SN</th>
                            <th>Book</th>
                            <th>RFID</th>
                            <th>ISBN</th>
                            <th >Book Status</th>

                        </tr>
                        </thead>

                        <tbody>
                        {% for copy in copies %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ copy.book }}</td>
                                <td>{{ copy.rfid }}</td>
                                <td>{{ copy.isbn }}</td>
                                <td>{% if copy.is_book_available %}Taken{% else %}Available{% endif %}</td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}