{% extends 'base.html' %}
{% load static %}
{% block title %}Add Book Copies{% endblock %}
{% block style %}

{% endblock %}
{% block body %}

        <div class="d-sm-flex  mb-4">
            <h1 class="h3 mb-0 text-gray-800">Add Book Copies</h1>
        </div>

        <div class="row mb-3 ">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-5 col-md-6 mb-4">
                {% if form.errors %}<div class="alert alert-danger">{{ form.errors }}</div>{% endif %}
                <form method="post">
                    {% csrf_token %}
{#                    {{ form.as_p }}#}
                    Book Name:
                    {{ form.book }}<br>
                    Book Isbn:
                    {{ form.isbn }}<br>
                    Book RFID: (not required)
                    <input type="text" name="rfid" class="form-control" maxlength="20" id="id_rfid"><br>

                    <input type="submit" value="Create Book" class="btn btn-info">
                </form>
            </div>


        </div>
{% endblock %}